@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 20px;
    border-bottom: 2px solid #BCD3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {
    font-family: 'Imprima', sans-serif;

}

.navbar .flex-container {
    width: 100%;
    color: #4284AE;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4284AE;
}

.navbar1 .flex-container1 p {

    font-weight: bolder;
}

.flex-container2 {
    max-width: 100%;
}

.tel {
    display: flex;
    height: 60px;
    gap: 30px;
    align-items: center;
    font-weight: bold;
    color: #4284AE;
}

.moncompte {
    display: flex;
    height: 60px;
    gap: 30px;
    align-items: center;
}

.container>* {
    margin: 0 10px;
    flex: 1;

}


.navbar1 {

    padding-top: 10px;


}

.flex-container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container1 img {
    height: 40px;

}

.imgheader {
    width: 100%;
}









.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #404E59;
}

/* Section 1 et section 2*/

main .flex-container-list {
    display: flex;
    justify-content: center;
    font-family: imprima;
    gap: 200px;
}

/* Section filtre */

.section1-filter-section {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-left: 20px;
}


.filters-container-type {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 50px;
}

ul {
    list-style-type: none;
    font-size: 30px;
}

.style1 {
    color: red
}

.filters-container-taille {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.filters-container-color {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
}

.filter-size {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;

}

.size-option {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    font-size: 14px;
    width: 50%;

}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.round-colors {
    display: flex;

    height: 30px;
}

.rouge {
    width: 30px;
    background-color: red;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid grey;

}

.blanc {
    width: 30px;
    background-color: white;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid rgb(212, 208, 208);
}

.bleu {
    width: 30px;
    background-color: rgb(33, 33, 223);
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid rgb(212, 208, 208);
}

.jaune {
    width: 30px;
    background-color: rgb(235, 235, 93);
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid rgb(212, 208, 208);
}

.filters-container-price {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
}

.range {
    color: red;
}

.price-labels {
    display: flex;
    justify-content: space-between;
}

.style2 {
    color: #404E59;
}

h3 {
    padding-bottom: 0px;
}

.price-slider input {
    width: 100%;
}

h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

/* Section photos*/

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

@media screen and (max-width: 460px) {

    .navbar,
    .navbar1 {
        flex-direction: column;
        text-align: center;
    }

    .flex-container1 {
        flex-direction: column;
        align-items: center;
    }

    .flex-container2 img {
        max-width: 100%;
        height: auto;
    }

    main .flex-container-list {
        flex-direction: column;

    }

    .section1-filter-section {
        align-items: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: clamp(25px, 2vw, 30px);
    }

    li {
        font-size: clamp(20px, 2vw, 25px);
    }

    .filters-container-price {
        margin-bottom: 0px;
    }
}